body{
    font-family: Arial, sans-serif;
    background-color:#f4f4f4;
    margin:30px;
}

h1{
    text-align:center;
    color:#2c3e50;
}

input{
    width:270px;
    height:40px;
    padding:8px;
    margin-bottom:10px;
    border:2px solid #333;
    border-radius:5px;
}

button{
    width:60px;
    height:60px;
    margin:5px;
    font-size:18px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background-color:#dcdcdc;
}
button:active{
    background-color:#bfbfbf;
}

button{
    transition:0.2s;
}

input{
    text-align:right;
}
